<!DOCTYPE html>
<html>
    <head>
        <title>Invoice Displayer</title>
        <link rel="stylesheet" href="resources/css/style.css" type="text/css"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico" type="image/x-icon"/>
        <link rel="icon" href="resources/images/favicon.ico" type="image/x-icon"/>
    </head>
    <body>
        <div id="container">

            <!-- HEADER -->
            <header>
                <a href=""><img src="resources/images/background.png" alt="Invoice" title="Invoice" /></a>
            </header>

            <div class="clearfix"></div>

            <!-- CONTENT -->

            <div id="xsltLinks">

                <ul style="list-style-type:none">
                    <li><a class="xsltLink" href="/view-invoice-xslt-for-customer">Click here to view invoice for customer (xslt)</a></li>
                    <li><a class="xsltLink" href="/view-invoice-xslt-for-supplier">Click here to view invoice for supplier (xslt)</a></li>
                    <li><a class="xsltLink" href="/view-invoice-xslt-for-transportation-company">Click here to view invoice for transporation company (xslt)</a></li>
                </ul>

            </div>

            <div class="clearfix"></div>

            <!-- FOOTER -->	
            <footer>
                <p>&#169;Copyright - Konstantinos Raptis - Nasos Kallipolitis, 2017.</p>
            </footer>

        </div>
    </body>
</html>
